[workspace]
resolver = "2"
members = ["lib"]

[workspace.package]
version = "3.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://steel.new"
documentation = "https://docs.rs/steel/latest/steel/"
repository = "https://github.com/regolith-labs/steel"
readme = "./README.md"
keywords = ["solana"]

[workspace.dependencies]
bytemuck = "1"
num_enum = "0.7"
paste = "1"
solana-program = "=2.1"
spl-associated-token-account = "6"
spl-token-2022 = "6"
thiserror = "2"
