[workspace]
resolver = "2"
members = ["crates/*", "examples/*"]

[workspace.package]
version = "0.0.0"
edition = "2024"
homepage = "https://solapino.dev"
keywords = ["solana", "pinnochio"]
license = "Apache-2.0"
readme = "readme.md"
repository = "https://github.com/solapino/solapino"

[workspace.dependencies]
bytemuck = { default-features = false, version = "^1" }
five8_const = { default-features = false, version = "^1" }
num_enum = { default-features = false, version = "^0.7" }
paste = { default-features = false, version = "^1" }
pinocchio = { default-features = false, version = "^0.9" }
pinocchio-associated-token-account = { default-features = false, version = "^0.2" }
pinocchio-log = { default-features = false, version = "^0.5" }
pinocchio-memo = { default-features = false, version = "^0.2" }
pinocchio-pubkey = { default-features = false, version = "^0.3" }
pinocchio-system = { default-features = false, version = "^0.3" }
pinocchio-token = { default-features = false, version = "^0.1" }
pinocchio-token-2022 = { default-features = false, version = "^0.1" }
proc-macro2 = { default-features = false, version = "^1" }
quote = { default-features = false, version = "^1" }
solana-program = { default-features = false, version = "^2.3" }
spl-associated-token-account = { default-features = false, version = "^7" }
spl-token-2022 = { default-features = false, version = "9" }
syn = { default-features = false, version = "^2", features = ["full"] }
test_utils_solana = { default-features = false, version = "^0.8" }
thiserror = { default-features = false, version = "^2" }
tokio = { default-features = false, version = "^1" }
wasm_client_solana = { default-features = false, version = "^0.9" }

# publishable crates
solapino = { default-features = false, path = "crates/solapino", version = "^0" }
solapino_macros = { default-features = false, path = "crates/solapino_macros", version = "^0" }

[workspace.metadata.bin]
cargo-llvm-cov = { version = "0.6.19" }
cargo-semver-checks = { version = "0.44.0" }
release-plz = { version = "0.3.147", bins = ["release-plz"] }
solana-verify = { version = "0.4.11", bins = ["solana-verify"] }
wait-for-them = { version = "0.5.1", bins = ["wait-for-them"] }

[workspace.lints.rust]
# Group lints
rust_2021_compatibility = { level = "warn", priority = -1 }
rust_2024_compatibility = { level = "warn", priority = -1 }

# individual lints
unsafe_code = "deny"
unstable_features = "deny"
unused_extern_crates = "warn"
unused_import_braces = "warn"
unused_lifetimes = "warn"
unused_macro_rules = "warn"
unused_qualifications = "warn"
variant_size_differences = "warn"
edition_2024_expr_fragment_specifier = "allow"

[workspace.lints.clippy]
# group lints
complexity = { level = "warn", priority = -1 }
correctness = { level = "deny", priority = -1 }
pedantic = { level = "warn", priority = -1 }
perf = { level = "warn", priority = -1 }
style = { level = "warn", priority = -1 }
suspicious = { level = "warn", priority = -1 }

# individual lints
blocks_in_conditions = "allow"
cargo_common_metadata = "allow"
cast_possible_truncation = "allow"
cast_possible_wrap = "allow"
cast_precision_loss = "allow"
cast_sign_loss = "allow"
expl_impl_clone_on_copy = "allow"
items_after_statements = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
module_name_repetitions = "allow"
must_use_candidate = "allow"
no_effect_underscore_binding = "allow"
tabs-in-doc-comments = "allow"
too_many_lines = "allow"
wildcard_dependencies = "deny"
wildcard_imports = "allow"
