[packages.pina_cli]
versioned_files = [
	"crates/pina_cli/Cargo.toml",
	"Cargo.lock",
]
scopes = ["pina_cli"]
changelog = "crates/pina_cli/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.pina]
versioned_files = [
	"crates/pina/Cargo.toml",
	{ path = "Cargo.toml", dependency = "pina" },
	"Cargo.lock",
]
scopes = ["pina"]
changelog = "crates/pina/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.pina_macros]
versioned_files = [
	"crates/pina_macros/Cargo.toml",
	{ path = "Cargo.toml", dependency = "pina_macros" },
	"Cargo.lock",
]
scopes = ["pina_macros"]
changelog = "crates/pina_macros/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.pina_sdk_ids]
versioned_files = ["crates/pina_sdk_ids/Cargo.toml", { path = "Cargo.toml", dependency = "pina_sdk_ids" }, "Cargo.lock"]
scopes = ["pina_sdk_ids"]
changelog = "crates/pina_sdk_ids/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.pina_pod_primitives]
versioned_files = [
	"crates/pina_pod_primitives/Cargo.toml",
	{ path = "Cargo.toml", dependency = "pina_pod_primitives" },
	"Cargo.lock",
]
scopes = ["pina_pod_primitives"]
changelog = "crates/pina_pod_primitives/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[changes]
ignore_conventional_commits = true

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "mdt update"

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo workspaces publish --from-git --yes"

[github]
owner = "pina-rs"
repo = "pina"
