[package]
versioned_files = [
	{ dependency = "pina", path = "Cargo.lock" },
	{ dependency = "pina", path = "Cargo.toml" },
	{ dependency = "pina_cli", path = "Cargo.lock" },
	{ dependency = "pina_codama_renderer", path = "Cargo.lock" },
	{ dependency = "pina_codama_renderer", path = "Cargo.toml" },
	{ dependency = "pina_macros", path = "Cargo.lock" },
	{ dependency = "pina_macros", path = "Cargo.toml" },
	{ dependency = "pina_pod_primitives", path = "Cargo.lock" },
	{ dependency = "pina_pod_primitives", path = "Cargo.toml" },
	{ dependency = "pina_sdk_ids", path = "Cargo.lock" },
	{ dependency = "pina_sdk_ids", path = "Cargo.toml" },
	"packages/nodes-from-pina/package.json",
]
scopes = [
	"pina",
	"cli",
	"codama_renderer",
	"macros",
	"pod_primitives",
	"sdk_ids",
]
changelog = "changelog.md"
extra_changelog_sections = [
	{ name = "Notes", types = ["note"] },
	{ name = "Documentation", types = ["docs"] },
]

[changes]
ignore_conventional_commits = true

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "mdt update"

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases $version"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo publish --workspace"

[[workflows.steps]]
type = "Command"
command = "pnpm --recursive publish"

[github]
owner = "pina-rs"
repo = "pina"
