[package]
name = "security_09_closing_accounts_insecure"
version = "0.0.0"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
pina = { path = "../../../crates/pina", features = ["logs", "derive"] }
